body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(80, 79, 70);
}

.page-title {
    color: rgb(221, 221, 221);
    background-color: rgb(34, 34, 34);
    text-align: center;
    min-height: 90dvh;
    border-radius: 20px;
}

.page-title h1 {
    padding-top: 10dvh;
    font-size: 6dvh;
}

#connect-form button {
    width: 100%;
    margin: 50px;
    padding: 20px;
    font-size: 3dvh;
    border-radius: 5dvh;
    background-color: rgb(159, 43, 192);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    transition: 0.1s all ease-in-out;
    text-align: center;
}

#connect-form button:hover {
    background-color: rgb(86, 84, 88);
}

#connect-form button a  {
    text-decoration: none;
    color: white;
}

.camera-dashboard-form {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 2dvh;
}

#connect-form {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.inputs {
    padding: 10px;
    margin: 1dvh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: rgb(100, 110, 187);
    border-radius: 1dvh;
    width: 95%;
}

.inputs input {
    font-size: 2.5dvh;
    padding: 1dvh;
    border-radius: 4dvh;
    border: none;
    width: 100%;
    background-color: rgb(45, 45, 72);
    color: rgb(218, 234, 183);
    font-weight: bolder;
}

.inputs label {
    text-wrap: nowrap;
    padding: 5px;
    color: white;
    text-align: left;
    font-size: 2.5dvh;
    margin-right: 2dvh;
    width: fit-content;
}